doctype html
html(lang="en",dir="ltr")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title
    link(rel="stylesheet", href="dist/styles/main.min.css")

  body(onload="startGame();")
    h1#message
    #board
      .square.top.left#0 X
      .square.top#1
      .square.top.right#2 O
      .square.center.left#3
      .square.center#4 O
      .square.center.right#5
      .square.bottom.left#6 O
      .square.bottom#7
      .square.bottom.right#8 X

    script(src="dist/scripts/main.min.js")
