doctype html
html(lang="en",dir="ltr")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title
    link(rel="stylesheet", href="styles/main.min.css")
    
  body
    #board
      .square.top.left#1
      .square.top#2 o
      .square.top.right#3
      .square.center.left#4
      .square.center#5 x
      .square.center.right#6
      .square.bottom.left#7
      .square.bottom#8
      .square.bottom.right#9
  script(src="scripts/main.min.js")
    
